name: Deploy

on:
  workflow_dispatch:
    inputs:
      reason:
        required: false
        description: "Reason for running this workflow"
      use_test_image:
        required: false
        type: boolean
        description: "Use base image testpr"
        default: false

  push:
    branches:
      - main
    # Trigger only on specific files being updated.

    paths:
      - Dockerfile
      - rootfs/**

env:
  GHCR_IMAGE: sdr-enthusiasts/docker-dump978
  GHCR_REGISTRY: ghcr.io
  GH_LABEL: main
  GHCR_TAG: telegraf

jobs:
  workflow-dispatch:
    name: Triggered via Workflow Dispatch?
    # only run this step if workflow dispatch triggered
    # log the reason the workflow dispatch was triggered
    if: |
      github.event_name == 'workflow_dispatch' &&
      github.event.inputs.reason != ''
    runs-on: ubuntu-22.04
    steps:
      - name: Log dispatch reason
        env:
          INPUTS_REASON: ${{ github.event.inputs.reason }}
          INPUTS_USE_TEST_IMAGE: ${{ github.event.inputs.use_test_image }}
        run: |
          echo "Workflow dispatch reason: $INPUTS_REASON"
          echo "Use test image: $INPUTS_USE_TEST_IMAGE"

  deploy:
    name: Deploy without telegraf
    uses: sdr-enthusiasts/common-github-workflows/.github/workflows/build_and_push_image.yml@main
    with:
      push_enabled: true
      push_destinations: ghcr.io;dockerhub
      ghcr_repo_owner: ${{ github.repository_owner }}
      ghcr_repo: ${{ github.repository }}
      dockerhub_profile: mikenye
      dockerhub_repo: dump978
      get_version_method: git_commit_hash_short
      # set build_latest to true if github.event.inputs.use_test_image is false
      build_latest: ${{ github.event.inputs.use_test_image == 'false' || github.event.inputs.use_test_image == '' }}
      build_baseimage_test: ${{ github.event.inputs.use_test_image == 'true' }}
      # only build the entire stack if we are not using the test image
      build_version_specific: ${{ github.event.inputs.use_test_image == 'false' || github.event.inputs.use_test_image == '' }}
      build_platform_specific: false
      build_nohealthcheck: ${{ github.event.inputs.use_test_image == 'false' || github.event.inputs.use_test_image == '' }}
      build_baseimage_url: :wreadsb/:wreadsb-test-pr/g;s/:dump978-full/:dump978-full-test-pr
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  deploy_with_telegraf:
    name: Deploy with telegraf and healthcheck
    uses: sdr-enthusiasts/common-github-workflows/.github/workflows/build_and_push_image.yml@main
    with:
      push_enabled: true
      push_destinations: ghcr.io;dockerhub
      ghcr_repo_owner: ${{ github.repository_owner }}
      ghcr_repo: ${{ github.repository }}
      dockerhub_profile: mikenye
      dockerhub_repo: dump978
      get_version_method: git_commit_hash_short
      # set build_latest to true if github.event.inputs.use_test_image is false
      build_latest: ${{ github.event.inputs.use_test_image == 'false' || github.event.inputs.use_test_image == '' }}
      build_baseimage_test: ${{ github.event.inputs.use_test_image == 'true' }}
      build_baseimage_url: :wreadsb/:wreadsb-test-pr/g;s/:dump978-full/:dump978-full-test-pr
      # only build the entire stack if we are not using the test image
      build_version_specific: false
      build_platform_specific: false
      build_nohealthcheck: ${{ github.event.inputs.use_test_image == 'false' || github.event.inputs.use_test_image == '' }}
      docker_latest_tag: telegraf
      dockerfile_changes: |
        ##telegraf##/
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
