---
name: Linting (Flake8)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "**.py"

jobs:
  flake8-lint:
    name: Run flake8 against python files
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4.2.0
      - name: Set up Python environment
        uses: actions/setup-python@v5.2.0
        with:
          python-version: "3.9"
      - name: flake8 Lint
        uses: py-actions/flake8@v2.3.0
        with:
          ignore: "E501"
